body {
    margin: 0px;
    overflow-x: hidden;
}

.main-div {
    background-color: grey;
    height: 300vh;
    width: 100%;
}

.top {
    width: auto;
    height: 120vh;
    background-color: rgba(34, 254, 5, 0.901);
    margin: 0px;
}

.head-bar {
    background-color:rgb(192, 198, 207);
    text-align: right;
    padding: 15px;
    padding-bottom: 30px;
    padding-right: 30px;
    
}

.head-bar a {
    color: rgb(22, 19, 19);
    text-decoration: none;
    margin-right: 10px;
    font-size: larger;
}

.head-bar a:hover {
    color: rgb(75, 69, 69);
    text-decoration: overline;
    display: inline-block;
    transform: scale(1.2);

}

.top-body {
    width: auto;
    height: 100%;
    margin: 0px;
    background-color: rgb(10, 80, 108);
}
.top-mid h1{
    margin: 0px;
    font-size: 60px;
    text-shadow: 2px 2px 10px rgb(219, 219, 196);
    

}
.top-mid p{
    color:rgb(228, 228, 36);
    width: 600px;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.top-mid button{
    width: 200px;
    padding: 10px;
    font-size: large;
    border-radius: 25px;
    background-color:rgba(123, 43, 197, 0.13);
    color:black;

}
.top-mid button:hover{
    transform:scale(1.1);
    background-color: red;
    
}
/* index display 1 end */
/* index display 2 start */
.mid{
    background-color: grey;
    height: 150vh;
    width: auto;
    padding: 10px;
    padding-top: 30px;
    
}
.pro-mid{
    background-image: linear-gradient(black,rgb(135, 192, 148));
    margin-left: 100vh;
    text-align: center;
    padding-bottom: 30px;
    width: 400px;
    border-radius: 10px;
    background-size: cover;

}
.inner-mid{
    width: 80%;
    display :flex ;
    padding: 20px;
    margin-top: 70px;
}
.pro-mid img{
    width: 350px;
    height: 350px;
    padding: 15px;
    
}
.mid h1{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;

}
.mid p{
    width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pro-mid:hover{
    transform: scale(1.2);
    transform: rotatex(angle);
}

.footer{
    background-color: rgb(208, 233, 233);
    padding-bottom: 10px;
    
}

.footer-details{
    background-color:rgb(76, 155, 155) ;
    max-width: 400px;
    margin-left:5px;
    padding:10px;
    border-radius: 10px;
}
.footer-input{
    padding-top:20px;
    padding: 10px;
    
    
}

.footer button{
    background-color: rgb(212, 198, 157);
    margin-bottom: 50px;
    width: 80px;
    height: 40px;
    
    
}
  
  /* When moving the mouse over the }
  


 

